*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    background-image: url(/src/bg_principal.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #592A19;
    border-bottom: 6px solid #592A19;
}

.info_windows
{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 95vh;
    max-width: 390px;
    max-height: 844px;
    background-color: #592a198e
}
#top
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
}
.img
{
    width: 150px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #592A19;
    padding: 5px;
}
img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#logo
{
    margin-top: 20px;
}
#logo > h2
{
    color: #f0fdfa;
}
#bottom
{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav
{
    width: 100%;
    height: 100%;
}
nav > li
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
nav > li a
{
    position: relative;
    width: 80%;
    min-width: 220px;
    height: 45px;
    border-radius: 5px;
    background-color: #1a1a1ad7;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial;
    text-decoration: none;
    color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav > li > a > .icons
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav > li > a > .icons > img
{
    position: absolute;
    left: 20px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(1);
}
nav > li > a > span
{

}
